## Recording the inventory

In [15]:
record.update({1003: {"Name": "Sugar","Price": 80, "Quantity": 200, "Weight": 2000, "Tax": 10, "Discount": 9 }})

In [21]:
import json

In [22]:
txt = json.dumps(record)

In [23]:
txt

'{"1001": {"Name": "Baking Soda", "Price": 55, "Quantity": 23, "Weight": 200, "Tax": 6, "Discount": 4}, "1002": {"Name": "Baking powder", "Price": 50, "Quantity": 20, "Weight": 200, "Tax": 5, "Discount": 3}, "1003": {"Name": "Sugar", "Price": 80, "Quantity": 200, "Weight": 2000, "Tax": 10, "Discount": 9}}'

In [24]:
type(txt)

str

In [25]:
fd = open("inventory.json",'w')
fd.write(txt)
fd.close()

In [27]:
record

{1001: {'Name': 'Baking Soda',
  'Price': 55,
  'Quantity': 23,
  'Weight': 200,
  'Tax': 6,
  'Discount': 4},
 1002: {'Name': 'Baking powder',
  'Price': 50,
  'Quantity': 20,
  'Weight': 200,
  'Tax': 5,
  'Discount': 3},
 1003: {'Name': 'Sugar',
  'Price': 80,
  'Quantity': 200,
  'Weight': 2000,
  'Tax': 10,
  'Discount': 9}}

In [31]:
for i in range(4,5):
    Name = input("name: ")
    Price = int(input("Price: "))
    Quantity = int(input("Quant: "))
    Weight = int(input("weight: ")) 
    Tax = int(input("tax: ")) 
    Discount = int(input("Disc: "))
    record.update({1000+i: {"Name": Name,"Price": Price, "Quantity": Quantity, "Weight": Weight, "Tax": Tax, "Discount": Discount }})

name: Flour
Price: 100
Quant: 70
weight: 15
tax: 9
Disc: 7

In [32]:
record

{1001: {'Name': 'Baking Soda',
  'Price': 55,
  'Quantity': 23,
  'Weight': 200,
  'Tax': 6,
  'Discount': 4},
 1002: {'Name': 'Baking powder',
  'Price': 50,
  'Quantity': 20,
  'Weight': 200,
  'Tax': 5,
  'Discount': 3},
 1003: {'Name': 'Sugar',
  'Price': 80,
  'Quantity': 200,
  'Weight': 2000,
  'Tax': 10,
  'Discount': 9},
 1004: {'Name': 'Flour',
  'Price': 100,
  'Quantity': 70,
  'Weight': 15,
  'Tax': 9,
  'Discount': 7}}

In [33]:
for i in range(5,32):
    Name = input("name: ")
    Price = int(input("Price: "))
    Quantity = int(input("Quant: "))
    Weight = int(input("weight: ")) 
    Tax = int(input("tax: ")) 
    Discount = int(input("Disc: "))
    record.update({1000+i: {"Name": Name,"Price": Price, "Quantity": Quantity, "Weight": Weight, "Tax": Tax, "Discount": Discount }})

name: Honey
Price: 200
Quant: 7
weight: 100
tax: 3
Disc: 4
name: Vanilla
Price: 250
Quant: 19
weight: 750
tax: 5
Disc: 17
name: Dry Yeast
Price: 53
Quant: 7
weight: 70
tax: 5
Disc: 3
name: Chocolate Chips
Price: 1000
Quant: 69
weight: 700
tax: 6
Disc: 7
name: Cocoa Powder
Price: 378
Quant: 7
weight: 500
tax: 8
Disc: 7
name: Butter
Price: 150
Quant: 50
weight: 125
tax: 7
Disc: 6
name: Shredded Cheese
Price: 300
Quant: 7
weight: 80
tax: 17
Disc: 7
name: Milk
Price: 50
Quant: 70
weight: 100
tax: 7
Disc: 9
name: Sour Cream
Price: 60
Quant: 7
weight: 500
tax: 9
Disc: 11
name: Greek Yogurt
Price: 80
Quant: 13
weight: 90
tax: 11
Disc: 3
name: Chicken stock
Price: 160
Quant: 14
weight: 77
tax: 9
Disc: 0
name: Salsa
Price: 200
Quant: 5
weight: 500
tax: 10
Disc: 9
name: Diced Tomatoes
Price: 100
Quant: 90
weight: 124
tax: 0
Disc: 7
name: Jam
Price: 80
Quant: 40
weight: 125
tax: 19
Disc: 7
name: Peanut Butter
Price: 400
Quant: 40
weight: 250
tax: 19
Disc: 0
name: Pasta Sauce
Price: 200
Quant: 40
weight: 780
tax: 7
Disc: 0
name: Black Beans
Price: 300
Quant: 19
weight: 760
tax: 6
Disc: 0
name: Soups
Price: 30
Quant: 49
weight: 50
tax: 7
Disc: 3
name: Tuna
Price: 500
Quant: 5
weight: 30
tax: 50
Disc: 9
name: Green Chiles
Price: 40
Quant: 50
weight: 100
tax: 0
Disc: 0
name: Quick Oats
Price: 500
Quant: 70
weight: 250
tax: 20
Disc: 7
name: Popcorn
Price: 100
Quant: 50
weight: 50
tax: 7
Disc: 3
name: Tortilla Chips
Price: 500
Quant: 50
weight: 900
tax: 17
Disc: 0
name: Cereal
Price: 70
Quant: 69
weight: 50
tax: 7
Disc: 2
name: Coconut Oil
Price: 70
Quant: 30
weight: 1
tax: 7
Disc: 0
name: Olive Oil
Price: 700
Quant: 40
weight: 250
tax: 19
Disc: 0
name: Red Wine Vinegar
Price: 1000
Quant: 19
weight: 200
tax: 14
Disc: 7

In [34]:
record

{1001: {'Name': 'Baking Soda',
  'Price': 55,
  'Quantity': 23,
  'Weight': 200,
  'Tax': 6,
  'Discount': 4},
 1002: {'Name': 'Baking powder',
  'Price': 50,
  'Quantity': 20,
  'Weight': 200,
  'Tax': 5,
  'Discount': 3},
 1003: {'Name': 'Sugar',
  'Price': 80,
  'Quantity': 200,
  'Weight': 2000,
  'Tax': 10,
  'Discount': 9},
 1004: {'Name': 'Flour',
  'Price': 100,
  'Quantity': 70,
  'Weight': 15,
  'Tax': 9,
  'Discount': 7},
 1005: {'Name': 'Honey',
  'Price': 200,
  'Quantity': 7,
  'Weight': 100,
  'Tax': 3,
  'Discount': 4},
 1006: {'Name': 'Vanilla',
  'Price': 250,
  'Quantity': 19,
  'Weight': 750,
  'Tax': 5,
  'Discount': 17},
 1007: {'Name': 'Dry Yeast',
  'Price': 53,
  'Quantity': 7,
  'Weight': 70,
  'Tax': 5,
  'Discount': 3},
 1008: {'Name': 'Chocolate Chips',
  'Price': 1000,
  'Quantity': 69,
  'Weight': 700,
  'Tax': 6,
  'Discount': 7},
 1009: {'Name': 'Cocoa Powder',
  'Price': 378,
  'Quantity': 7,
  'Weight': 500,
  'Tax': 8,
  'Discount': 7},
 1010: {'Name': 'Butter',
  'Price': 150,
  'Quantity': 50,
  'Weight': 125,
  'Tax': 7,
  'Discount': 6},
 1011: {'Name': 'Shredded Cheese',
  'Price': 300,
  'Quantity': 7,
  'Weight': 80,
  'Tax': 17,
  'Discount': 7},
 1012: {'Name': 'Milk',
  'Price': 50,
  'Quantity': 70,
  'Weight': 100,
  'Tax': 7,
  'Discount': 9},
 1013: {'Name': 'Sour Cream',
  'Price': 60,
  'Quantity': 7,
  'Weight': 500,
  'Tax': 9,
  'Discount': 11},
 1014: {'Name': 'Greek Yogurt',
  'Price': 80,
  'Quantity': 13,
  'Weight': 90,
  'Tax': 11,
  'Discount': 3},
 1015: {'Name': 'Chicken stock',
  'Price': 160,
  'Quantity': 14,
  'Weight': 77,
  'Tax': 9,
  'Discount': 0},
 1016: {'Name': 'Salsa',
  'Price': 200,
  'Quantity': 5,
  'Weight': 500,
  'Tax': 10,
  'Discount': 9},
 1017: {'Name': 'Diced Tomatoes',
  'Price': 100,
  'Quantity': 90,
  'Weight': 124,
  'Tax': 0,
  'Discount': 7},
 1018: {'Name': 'Jam',
  'Price': 80,
  'Quantity': 40,
  'Weight': 125,
  'Tax': 19,
  'Discount': 7},
 1019: {'Name': 'Peanut Butter',
  'Price': 400,
  'Quantity': 40,
  'Weight': 250,
  'Tax': 19,
  'Discount': 0},
 1020: {'Name': 'Pasta Sauce',
  'Price': 200,
  'Quantity': 40,
  'Weight': 780,
  'Tax': 7,
  'Discount': 0},
 1021: {'Name': 'Black Beans',
  'Price': 300,
  'Quantity': 19,
  'Weight': 760,
  'Tax': 6,
  'Discount': 0},
 1022: {'Name': 'Soups',
  'Price': 30,
  'Quantity': 49,
  'Weight': 50,
  'Tax': 7,
  'Discount': 3},
 1023: {'Name': 'Tuna',
  'Price': 500,
  'Quantity': 5,
  'Weight': 30,
  'Tax': 50,
  'Discount': 9},
 1024: {'Name': 'Green Chiles',
  'Price': 40,
  'Quantity': 50,
  'Weight': 100,
  'Tax': 0,
  'Discount': 0},
 1025: {'Name': 'Quick Oats',
  'Price': 500,
  'Quantity': 70,
  'Weight': 250,
  'Tax': 20,
  'Discount': 7},
 1026: {'Name': 'Popcorn',
  'Price': 100,
  'Quantity': 50,
  'Weight': 50,
  'Tax': 7,
  'Discount': 3},
 1027: {'Name': 'Tortilla Chips',
  'Price': 500,
  'Quantity': 50,
  'Weight': 900,
  'Tax': 17,
  'Discount': 0},
 1028: {'Name': 'Cereal',
  'Price': 70,
  'Quantity': 69,
  'Weight': 50,
  'Tax': 7,
  'Discount': 2},
 1029: {'Name': 'Coconut Oil',
  'Price': 70,
  'Quantity': 30,
  'Weight': 1,
  'Tax': 7,
  'Discount': 0},
 1030: {'Name': 'Olive Oil',
  'Price': 700,
  'Quantity': 40,
  'Weight': 250,
  'Tax': 19,
  'Discount': 0},
 1031: {'Name': 'Red Wine Vinegar',
  'Price': 1000,
  'Quantity': 19,
  'Weight': 200,
  'Tax': 14,
  'Discount': 7}}

In [35]:
txt = json.dumps(record)

In [37]:
fd = open("inventory.json",'a')
fd.write(txt)
fd.close()

In [2]:
fd = open("inventory.json",'r')
txt = fd.read()
fd.close()

## Sales file

In [ ]:
sales = {101:{'Name':"Manu Varghese","Age":20,"Total":100,"Date":"06-09-2021","Time":"1400","Payment Mode":"Cash"}}

In [3]:
fd = open("sales.json",'r')
txt = fd.read()
fd.close()

In [7]:
import json 
txt = json.dumps(sales)

In [8]:
txt

'{"101": {"Name": "Manu Varghese", "Age": 20, "Total": 100, "Date": "06-09-2021", "Time": "1400hrs", "Payment Mode": "Cash"}}'

In [10]:
fs = open("sales.json",'w')
fs.write(txt)
fs.close()

In [11]:
fd = open("sales.json",'r')
txt = fd.read()
fd.close()

In [12]:
txt

'{"101": {"Name": "Manu Varghese", "Age": 20, "Total": 100, "Date": "06-09-2021", "Time": "1400hrs", "Payment Mode": "Cash"}}'

In [13]:
sales = {101:{'Name':"Manu Varghese","Age":20,"Total":100,"Date":"06-09-2021","Time":"1400","Payment Mode":"Cash"}}

In [16]:
sales.update({102:{'Name':"Biji Varghese","Age":25,"Total":1000,"Date":"06-09-2021","Time":"1411","Payment Mode":"Cash"}})

In [17]:
sales

{101: {'Name': 'Manu Varghese',
  'Age': 20,
  'Total': 100,
  'Date': '06-09-2021',
  'Time': '1400',
  'Payment Mode': 'Cash'},
 102: {'Name': 'Biji Varghese',
  'Age': 25,
  'Total': 1000,
  'Date': '06-09-2021',
  'Time': '1411',
  'Payment Mode': 'Cash'}}

In [19]:
sales.update(
    {104:{'Name':"Ajinkya Rahane","Age":30,"Total":1250,"Date":"05-09-2021",
                   "Time":"1417","Payment Mode":"Credit Card"}})

In [20]:
sales.update({105:{'Name':"Bhuvneshwar Kumar","Age":31,"Total":1300,"Date":"03-09-2021",
                   "Time":"1420","Payment Mode":"Cash"}})

In [21]:
sales

{101: {'Name': 'Manu Varghese',
  'Age': 20,
  'Total': 100,
  'Date': '06-09-2021',
  'Time': '1400',
  'Payment Mode': 'Cash'},
 102: {'Name': 'Biji Varghese',
  'Age': 25,
  'Total': 1000,
  'Date': '06-09-2021',
  'Time': '1411',
  'Payment Mode': 'Cash'},
 104: {'Name': 'Ajinkya Rahane',
  'Age': 30,
  'Total': 1250,
  'Date': '05-09-2021',
  'Time': '1417',
  'Payment Mode': 'Credit Card'},
 105: {'Name': 'Bhuvneshwar Kumar',
  'Age': 31,
  'Total': 1300,
  'Date': '03-09-2021',
  'Time': '1420',
  'Payment Mode': 'Cash'}}

In [22]:
sales.update({103:{'Name':"Devdutt Padikkal","Age":31,"Total":2300,"Date":"03-09-2021",
                   "Time":"1422","Payment Mode":"Cash"}})

In [23]:
sales

{101: {'Name': 'Manu Varghese',
  'Age': 20,
  'Total': 100,
  'Date': '06-09-2021',
  'Time': '1400',
  'Payment Mode': 'Cash'},
 102: {'Name': 'Biji Varghese',
  'Age': 25,
  'Total': 1000,
  'Date': '06-09-2021',
  'Time': '1411',
  'Payment Mode': 'Cash'},
 104: {'Name': 'Ajinkya Rahane',
  'Age': 30,
  'Total': 1250,
  'Date': '05-09-2021',
  'Time': '1417',
  'Payment Mode': 'Credit Card'},
 105: {'Name': 'Bhuvneshwar Kumar',
  'Age': 31,
  'Total': 1300,
  'Date': '03-09-2021',
  'Time': '1420',
  'Payment Mode': 'Cash'},
 103: {'Name': 'Devdutt Padikkal',
  'Age': 31,
  'Total': 2300,
  'Date': '03-09-2021',
  'Time': '1422',
  'Payment Mode': 'Cash'}}

In [24]:
txt = json.dumps(sales)

In [25]:
fs = open("sales.json",'w')
fs.write(txt)
fs.close()

## Comparing stock and then generating sales file

In [26]:
fd = open("Inventory.json",'r')
txt = fd.read()
fd.close()

In [28]:
record = json.loads(txt)

In [31]:
record['1001']['Price']

55

#### Billing

In [45]:
# Checking if the requested quantity is available
total = 0
flag = 1
while flag:
    code = input("Enter item code ")
    quantity = int(input("Enter quantity "))
    if (record[code]['Quantity'] >= quantity):
        print("Total: ",record[code]['Price'] * quantity)
        total += record[code]['Price'] * quantity
    else:
        print("Requested quantity not available")
    flag = int(input("Enter 1 to input more product or 0 to print bill"))
Name = input("Enter your name ")
Age = int(input("Enter age"))
payment_mode = input("Payment mode ? ")
print("********************")
print("Name: ",Name)
print("Total billing amount = ",total)
print("Payment mode: ",payment_mode)
print("********************")

Enter item code 1003
Enter quantity 4
Total:  320
Enter 1 to input more product or 0 to print bill1
Enter item code 1031
Enter quantity 4
Total:  4000
Enter 1 to input more product or 0 to print bill1
Enter item code 1020
Enter quantity 1
Total:  200
Enter 1 to input more product or 0 to print bill0
Enter your name Manu
Enter age21
Payment mode ? Cash
********************
Name:  Manu
Total billing amount =  4520
Payment mode:  Cash
********************

In [48]:
sales = {107:{'Name':Name,"Age":Age,"Total": total,"Date":"03-09-2021",
                   "Time":"1530","Payment Mode": payment_mode}}

In [49]:
sales

{107: {'Name': 'Manu',
  'Age': 21,
  'Total': 4520,
  'Date': '03-09-2021',
  'Time': '1530',
  'Payment Mode': 'Cash'}}

In [50]:
fs = open("sales.json",'a')
txt = json.dumps(sales)
fs.write(txt)
fs.close()

In [51]:
txt

'{"107": {"Name": "Manu", "Age": 21, "Total": 4520, "Date": "03-09-2021", "Time": "1530", "Payment Mode": "Cash"}}'

## Reducing the purchased quantity from inventory file

In [52]:
fd = open("Inventory.json",'r')
txt = fd.read()
fd.close()

In [53]:
record = json.loads(txt)

In [57]:
record['1001']['Quantity']

23

In [58]:
code = input("Enter item code ")
quantity = int(input("Enter quantity "))
if (record[code]['Quantity'] >= quantity):
    print("Total: ",record[code]['Price'] * quantity)
    total += record[code]['Price'] * quantity
    record[code]['Quantity'] -= quantity    
else:
    print("Requested quantity not available")

Enter item code 1001
Enter quantity 2
Total:  110

In [59]:
record['1001']['Quantity']

21

## Date and Time

In [83]:
import datetime

In [90]:
date = str(datetime.datetime.now().day)+"-"+str(datetime.datetime.now().month)+"-"+str(datetime.datetime.now().year)
time = str(datetime.datetime.now().hour)+str(datetime.datetime.now().minute)
print(date)
print(time)

6-9-2021
1720

### Filling up sales.json

In [5]:
import json
import datetime

In [6]:
# To get the next uid of sales file

ft = open("sales.json",'r')
temp = ft.read()
ft.close()
sales = json.loads(temp)
keylst = list(sales.keys())
sid = int(keylst[-1]) + 1
print(sid)

114

In [9]:
for i in range(14,15):
    Name = input("Name: ")
    Age = int(input("Age: "))
    total = int(input("total: "))
    payment_mode = input("Mode: ")
    date = str(datetime.datetime.now().day)+"-"+str(datetime.datetime.now().month)+"-"+str(datetime.datetime.now().year)
    time = str(datetime.datetime.now().hour)+":"+str(datetime.datetime.now().minute)
    sales.update({sid:{'Name':Name,"Age":Age,"Total":total,"Date":date,
                   "Time":time,"Payment Mode": payment_mode}})
    sid += 1

KeyboardInterrupt: Interrupted by user

In [8]:
#store it in sales.json

txt = json.dumps(sales)
fs = open("sales.json",'w')
fs.write(txt)
fs.close()